<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.reclutamiento">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reclutamiento"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivitySubMenu_empleado"></activity>
        <activity android:name=".MainActivitySubMenu_admin" />
        <activity android:name=".ADMIN.MainActivityDetalleEmpleado_admin" />
        <activity android:name=".ADMIN.MainActivityVerEmpleados_admin" />
        <activity android:name=".ADMIN.MainActivityDetallePostulante_admin" />
        <activity android:name=".ADMIN.MainActivityVerPostulantes_admin" />
        <activity android:name=".ADMIN.MainActivitySustitucion" />
        <activity android:name=".RECLUTAMIENTO.MainActivityProgramacion" />
        <activity android:name=".RECLUTAMIENTO.MainActivityComentarios" />
        <activity android:name=".MainActivityMenuRec2" />
        <activity android:name=".RECLUTAMIENTO.MainActivityLigasReclutamiento" />
        <activity android:name=".RECLUTAMIENTO.MainActivityRegistroHerramienta" />
        <activity android:name=".EMPLEADO.MainActivityDocEmpleado" />
        <activity android:name=".ADMIN.MainActivityBajaColaborador" />
        <activity android:name=".ADMIN.MainActivityRenovacionContrato" />
        <activity android:name=".ADMIN.MainActivityAddVacante_admin" />
        <activity android:name=".MainActivityMenuRec">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>